<header class="header">
    <a href="/" class="logo">Logo</a>
    <nav>
        <ul class="nav">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
    </nav>
    <div class="header">
        <button class="searchBtn" aria-expanded="false">
search
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M15.5 14C16.8807 14 18 12.8807 18 11.5C18 10.1193 16.8807 9 15.5 9C14.1193 9 13 10.1193 13 11.5C13 12.8807 14.1193 14 15.5 14ZM15.5 16C13.567 16 12 14.433 12 12.5C12 10.567 13.567 9 15.5 9C17.433 9 19 10.567 19 12.5C19 14.433 17.433 16 15.5 16Z" fill="currentColor"/>
<path d="M21.7071 20.7071C22.0976 20.3166 22.0976 19.6834 21.7071 19.2929L19.2929 16.8787C18.9024 16.4882 18.2692 16.4882 17.8787 16.8787C17.4882 17.2692 17.4882 17.9024 17.8787 18.2929L20.2929 20.7071C20.6834 21.0976 21.3166 21.0976 21.7071 20.7071Z" fill="currentColor"/>
</svg>
      </button>
    </div>
</header>