<div class="author">
    <h1 class="author_heading">im ilyas</h1>
    <p class="author_text">Lorem ipsum dolor sit amet consectetur adipisicing elit

</div>
<img src="/img/hero-image.webp" alt="author" class="author_img" width="981" height="528" >

<section class = "articles"
>
<h2 class="articles_heading">Latest posts</h2>
<ul class="articles_list">
    <li class="articles_item">
        <a href="/post/1" class="articles_link">Post 1</a>
    </li>
    <li class="articles_item">
        <a href="/post/2" class="articles_link">Post 2</a>
        <span class="aticle title" >Post 2</span>
        <span class="articles_date">May 14, 2021</span>
    </li>
    <li class="articles_item">
        <a href="/post/3" class="articles_link">Post 3</a>
    </li>
    <a href="#" class="pagination">&lt; View Older Postst</a>
</section>